.homepage_s1 {
    padding: 0px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 0px;
}
.home_s1_main_div {
    max-width: 619px;
    margin-top: 220px;
    margin-bottom: 220px;
}
.home_s1_title {
    color: #FFF;
    font-family: 'Darker Grotesque 600';
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 78.324px; /* 111.891% */
    text-transform: capitalize;
    margin-bottom: 32px;
    letter-spacing: 3px;
}
.blue:hover, .blueabc:hover {
    cursor: pointer;
}
.home_s1_subtitle {
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.023%; /* 21.303px */
    max-width: 621px;
    margin-bottom: 40px;
}
.btn_home_s1 {
    border-radius: 33px;
    background: #5551FF;
    height: 45px;
    padding: 10px 24px;
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque 700';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px; /* 100% */
    text-transform: capitalize;
}
.hs1_btm_arrow {
    position: relative;
    left: 50%;
    bottom: 35px;
    transform: translate(-50%, 0%);
    width: fit-content;
}
.home_s2_title {
    color: #050220;
    text-align: center;
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    width: 592px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
}
.home_s2_title span {
    color: #5551FF;
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    text-transform: capitalize;
}
.homepage_s2 {
    padding-top: 64px;
    padding-bottom: 194px;
    background: linear-gradient(180deg, #FFF 0%, #F1F1F1 100%);
}
.home_s2_subtitle {
    color: #050220;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.023%; /* 21.303px */
    width: 964px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 99px;
}
.gola_text {
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque 700';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    margin-bottom: 0px;
}
.home_s2_gola {
    /* border: 13px solid transparent; */
    border-radius: 50%;
    width: 183px;
    height: 183px;
    background: linear-gradient(180deg, #9747FF 0%, #8951FF 48.44%, #C5BBFF 100%);
    padding-top: 13px;
    padding-left: 13px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.gola_internal {
    background: #050220;
    border-radius: 50%;
    width: 157px;
    height: 157px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_s2_2 {
    position: relative;
    z-index: 99;
}
.homepage_s3 {
    background: url(../img/home_s2_bg.png);
    background-position: center top;
    margin-top: -86px;
    padding: 72px 0px 64px;
    background-repeat: no-repeat;
    background-size: cover;
}
.home_s3_content {
    display: flex;
    flex-direction: row;
    gap: 44px;
    justify-content: center;
    align-items: flex-end;
}
.home_s3_card {
    max-width: 348px;
}
.hs2_img {
    margin-bottom: 58px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.home_s3_card_title {
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque 700';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    margin-bottom: 16px;
}
.home_s3_card_subtitle {
    color: #FFF;
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 0px;
}
.btn_global {
    color: #FFF;
    text-align: center;
    font-family: 'Darker Grotesque 700';
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 15px; /* 100% */
    text-transform: capitalize;
    border-radius: 33px;
    background: #5551FF;
    padding: 16px 24px;
}
.btn_global:hover {
    color: #5551FF;
    background: #FFF;
    border: 3px solid #8A87FF;
    padding: 14px 24px;
}
.home_s4_main_div {
    width: 515px;
}
.homepage_s4 {
    background: url(../img/home_s4_bg.png);
    margin: 40px;
    background-size: cover;
    background-position: center center;
}
.home_s4_title {
    color: #FFF;
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    max-width: 352px;
    margin-bottom: 24px;
}
.home_s4_title span {
    color: #8A87FF;
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    text-transform: capitalize;
}
.home_s4_subtitle {
    color: #FFF;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 24px;
}
.homepage_s5 {
    background: url(../img/home_s5_bg.png);
    background-size: cover;
    background-position: center center;
    padding-top: 64px;
    padding-bottom: 64px;
}
.home_s5_title {
    color: var(--secondary, #050220);

    /* Heading/H2 */
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    margin-bottom: 64px;
    text-align: center;
}
.hs5_img {
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.home_s5_card_title {
    color: var(--secondary, #050220);
    text-align: center;
    /* Heading/H4 */
    font-family: 'Darker Grotesque 700';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    margin-bottom: 16px;
}
.home_s5_card_subtitle {
    color: var(--secondary, #050220);
    text-align: center;

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    width: 246px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
.marcopolo {
    margin-bottom: 64px;
}
.homepage_s6 {
    background: url(../img/home_s6_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 179px;
    padding-bottom: 180px;
}
.home_s6_title {
    color: var(--neutral-white, #FFF);

    /* Heading/H2 */
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 24px;
}
.home_s6_title span {
    color: var(--on-dark-text, #8A87FF);

    /* Heading/H2 */
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px;
    text-transform: capitalize;
}
.home_s6_subtitle {
    color: var(--neutral-white, #FFF);
    text-align: center;

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 40px;
    width: 676px;
    margin-left: auto;
    margin-right: auto;
}

.hs1_btm_arrow:hover > svg > circle {
    fill: #f4f4f4;
    stroke: #5551FF;
}
.hs1_btm_arrow:hover > svg  path {
    stroke: #5551FF;
}


.sol_s1 {
    padding: 0px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    /* background: url(../img/sol_s1_bg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
}

.sol_s1_main_div {
    width: 712px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 182px;
    margin-bottom: 182px;
}

.sol_s1_title {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: 'Darker Grotesque 600';
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 78.324px; /* 111.891% */
    text-transform: capitalize;
    margin-bottom: 32px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
}

.sol_s1_subtitle {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 32px;
}
.sol_s2_pre_title {
    color: #5551FF;
    font-family: Arial;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 33.324px; /* 111.08% */
    text-transform: capitalize;
    margin-bottom: 16px;
}
.sol_s2_title {
    color: #050220;
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    margin-bottom: 40px;
}
.sol_s2_left_option_div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    margin-bottom: 16px;
}
.sol_s2_tick_title {
    color: #050220;
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Darker Grotesque 700';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */
    text-transform: capitalize;
    margin-bottom: 0px;
    margin-top: -4px;
}
.sol_s2_tick_img {
    height: 24px;
    width: 24px;
}
.sol_s2_tick_subtitle {
    color: #050220;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 32px;
    max-width: 539px;
}
.sol_s2 {
    padding-top: 32px;
    padding-bottom: 43px;
}
.sol_s2_im_right {
    margin-top: 61px;
    margin-left: auto;
    display: flex;
}
.sol_s2_im_right_mobo {
    display: none;
}
.sol_s3 {
    padding-top: 38px;
    padding-bottom: 58px;
}
.sol_s3_im_left {
    margin-top: 12px;
}
.sol_s3_im_left_mobo {
    display: none;
}
.sol_s_right_div {
    margin-left: 36px;
}

.story_s1 {
    padding: 0px;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
}
.story_s1_content_div {
    margin-top: 221px;
    margin-bottom: 177px;
    max-width: 526px;
}
.story_s1_title {
    color: var(--neutral-white, #FFF);
    font-family: 'Darker Grotesque 500';
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: 78.324px; /* 111.891% */
    text-transform: capitalize;
    margin-bottom: 32px;
}
.story_s1_subtitle {
    color: var(--neutral-white, #FFF);
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 0px;
}
.story_s2 {
    padding-top: 40px;
    padding-bottom: 80px;
}
.story_s2_content_div {
    max-width: 704px;
    margin-top: 93px;
}
.story_s2_title {
    color: var(--secondary, #050220);
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    margin-bottom: 32px;
}
.story_s2_subtitle {
    color: var(--secondary, #050220);
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 32px;
}
.story_s2_i1 {
    margin-bottom: 40px;
}
.story_s2_i_joint {
    width: 100%;
}
.story_s2_im_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.story_s3 {
    background: url(../img/story_s3_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding-top: 64px;
    padding-bottom: 64px;
    text-align: center;
}
.story_s3_title {
    color: var(--neutral-white, #FFF);
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    margin-bottom: 64px;
}
.story_s3_card_title {
    color: var(--neutral-white, #FFF);
    text-align: center;
    leading-trim: both;
    text-edge: cap;
    font-family: 'Darker Grotesque 700';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 133.333% */
    text-transform: capitalize;
    margin-bottom: 16px;
    max-width: 246px;
    margin-left: auto;
    margin-right: auto;
}
.story_s3_card_subtitle {
    color: var(--neutral-white, #FFF);
    text-align: center;
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 0px;
    max-width: 246px;
    margin-left: auto;
    margin-right: auto;
}
.new_marcopolo {
    margin-bottom: 64px;
}
.nanana {
    display: none;
}
.story_s2_i1_mobo {
    display: none;
}
.story_s2_i_joint_new {
    display: none;
}
.strategy_s2 {
    padding-top: 87px;
    padding-bottom: 127px;
}
.strategy_s2_title {
    color: var(--secondary, #050220);

    /* Heading/H2 */
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    margin-bottom: 32px;
}
.strategy_s2_subtitle {
    color: var(--secondary, #050220);

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 32px;
}
.strategy_s2_right {
    margin-top: 32px;
    max-width: 524px;
}
.strategy_s3_main_div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.strategy_s3_main_div_left {
    background: url(../img/strategy_s3_left.png);
    padding-top: 117px;
    padding-bottom: 117px;
    background-size: cover;
    width: 790px;
}
.strategy_s3_main_div_left_content {
    max-width: 341px;
    margin-right: 117px;
    margin-left: auto;
}
.strategy_s3_main_div_left_title {
    color: var(--neutral-white, #FFF);

    /* Heading/H2 */
    font-family: 'Darker Grotesque 700';
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 98.214% */
    text-transform: capitalize;
    margin-bottom: 32px;
}
.strategy_s3_main_div_left_subtitle {
    color: var(--neutral-white, #FFF);

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 32px;
}
.strategy_s3_card {
    max-width: 338px;
}
.strategy_s3_main_div_right {
    background: linear-gradient(180deg, #FDFDFD 0%, #F1F1F1 100%);
    width: 1130px;
}
.strategy_s3_main_div_right_content_div {
    width: 708px;
    margin-left: 89px;
    margin-top: 120px;
    margin-bottom: 120px;
}
.strategy_map_moba {
    display: none;
}

.features_s1 {
    background: url(../img/features_s1_bg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    padding: 0px;
    margin-top: 100px;
}
.features_top_div {
    padding-top: 80px;
    padding-bottom: 80px;
    max-width: 918px;
    margin-left: auto;
    margin-right: auto;
}
.features_title {
    color: var(--neutral-white, #FFF);
    text-align: center;
    
    /* Heading/H1 */
    font-family: 'Darker Grotesque 600';
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 78.324px; /* 111.891% */
    text-transform: capitalize;
    margin-bottom: 32px;
}
.features_subtitle {
    color: var(--neutral-white, #FFF);
    text-align: center;
    
    /* Large */
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.023%; /* 28.405px */
    margin-bottom: 0px;
}
.features_subtitle span {
    color: var(--neutral-white, #FFF);
    font-family: 'Inter';
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.023%;
}
.features_carousel_subs {
    color: var(--neutral-white, #FFF);
    text-align: center;

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 0px;
}
.carousel_feature_card_title {
    color: var(--neutral-white, #FFF);
    text-align: center;
    /* Heading/H3 */
    font-family: 'Darker Grotesque 700';
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.324px; /* 111.08% */
    text-transform: capitalize;
}
.carousel_feature_indicator .carousel_feature_card_title {
    color: var(--neutral-white, #FFF);
    text-align: center;
    /* Heading/H3 */
    font-family: 'Darker Grotesque 700';
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 33.324px; /* 111.08% */
    text-transform: capitalize;
}
.carousel_feature_card {
    max-width: 213px;
}
.carousel_features_img {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    min-width: 149px;
    min-height: 148px;
}
.carousel_feature_card {
    margin-left: auto;
    margin-right: auto;
}
.carousel_features_img_indicator {
    max-width: 124px;
    max-height: 124px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-bottom: 24px;
}
.carousel-indicators [data-bs-target].carousel_feature_indicator {
    opacity: 1!important;
    width: 174px;
    height: 194px;
    background-color: transparent;
    margin-left: 16px;
    margin-right: 16px;
    text-indent: 0px;
}
.features_carousel_indicators {
    height: -webkit-fill-available;
    top: 463px;
    margin-left: auto;
    margin-right: auto;
}
.features_carousel_div {
    min-height: 765px;
}
.carousel_features {
    min-height: 465px;
}
.carousel_features.fd_1{
    min-height: 415px;
}
.carousel_features.fd_2{
    min-height: 427px;
}
.carousel_features.fd_3{
    min-height: 473px;
}
.carousel_features.fd_4{
    min-height: 448px;
}
.carousel_features.fd_5{
    min-height: 445px;
}
.carousel_features.fd_6{
    min-height: 455px;
}
.carousel-indicators [data-bs-target].carousel_feature_indicator.active > .carousel_features_img_indicator {
    border: 3px solid #FFFFFF;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].carousel_feature_indicator > .carousel_features_img_indicator:hover {
    border: 3px solid #8A87FF;
    border-radius: 50%;
}

.feature_carousel_btns:hover > svg > circle {
    fill: #f4f4f4;
    stroke: #5551FF;
}
.feature_carousel_btns:hover > svg  path {
    stroke: #5551FF;
}
.carousel-control-prev > .feature_carousel_btns {
    transform: rotate(90deg);
}
.carousel-control-next > .feature_carousel_btns {
    transform: rotate(-90deg);
}
.no_way_desk {
    display: none;
}
.custom_dropdown_feature {
    border-radius: 8px;
    border: 1px solid var(--grey-grey-90, #E6E6E6);
    background: var(--neutral-white, #FFF);
    padding: 10px 16px;
    background-image: url(../img/caret_down_features.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
}
.custom_dropdown_feature.yoga {
    background-image: url(../img/caret_down_features_up.svg);
}
.custom_dropdown_feature > p {
    color: var(--neutral-700, #656565);

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 22.5px */
    margin-bottom: 0px;
}
.custom_drop_feature_btns_div {
    border-radius: 8px;
    border: 1px solid var(--grey-grey-45, #737373);
    background: var(--neutral-white, #FFF);
    padding: 8px 4px;
    margin-top: 8px;
    position: absolute;
    min-width: 327px;
    z-index: 1;
}
.custom_drop_feature_btns {
    border-radius: 8px;
    background: var(--neutral-white, #FFF);
    padding: 10px 16px;
    margin-bottom: 4px;
}
.custom_drop_feature_btns:last-child {
    margin-bottom: 0px;
}
.custom_drop_feature_btns > p {
    color: var(--neutral-800, #3C3C3C);

    /* Body/standard */
    font-family: 'Inter';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 0px;
    line-height: 150%; /* 22.5px */
}
.custom_drop_feature_btns.active {
    border-radius: 8px;
    border: 1px solid var(--purple-70, #4918B2);
    background: var(--purple-100, #F6F2FF);
    background-image: url(../img/feature_tick.svg);
    background-repeat: no-repeat;
    background-position: right 16px center;
}
.c1 {
    position: relative;
    right: -28px;
}
.c3 {
    position: relative;
    left: -28px;
}